<beans xmlns="http://www.springframework.org/schema/beans"  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans  
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">  
  
 <bean id="myTask" class="com.charmyin.cmstudio.tzyc.task.quartz.ScheduleTask" />  
 
 <bean id="tokenManagerTask" class="com.charmyin.cmstudio.tzyc.task.quartz.TokenManager" />  
 
 <bean id="tokenManagerJob"  
  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
  <property name="targetObject" ref="tokenManagerTask" />  
  <property name="targetMethod" value="refreshTokens" />  
 </bean>  
  <bean id="tokenManagerJobTrigger"  
  class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
    <property name="jobDetail" ref="tokenManagerJob" />  
 	<property name="cronExpression" value="0 * * * * ?" />
 </bean>
  
 <!-- specifing class and method that is going to be called on a specified   
  time basis -->  
 <bean id="myJob"  
  class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
  <property name="targetObject" ref="myTask" />  
  <property name="targetMethod" value="checkSafeDeviceScheduleTask" />  
 </bean>  
  
 <!-- simple trigger specify repeat interval and delay time -->  
 <bean id="simpleTrigger"  
  class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">  
  <property name="jobDetail" ref="myJob" />  
  <property name="repeatInterval" value="5000" />  
  <property name="startDelay" value="1000" />
 </bean>  
 
 <!-- simple trigger specify repeat interval and delay time -->  
 <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
  	<property name="jobDetail" ref="myJob" />
	<property name="cronExpression" value="0/30 * * * * ?" />
 </bean>  
  
 <!-- scheduler factory bean to bind,the executing code and time intervals   
  together -->  
 <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
  <property name="jobDetails">  
   <list>  
    <ref bean="myJob" />
    <ref bean="tokenManagerJob" />  
   </list>  
  </property>  
  <property name="triggers">  
   <list>  
    <ref bean="cronTrigger" />
    <ref bean="tokenManagerJobTrigger" />    
   </list>  
  </property>  
 </bean>  
  
</beans>  
