<!DOCTYPE html>
<html>
  <head>
    <title>MyHtml.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
	<script>
	 var str = "../heasyui/themes/bootstrap/layout.css";
	 var str2 = "www.baidu.com";
	 var kkk = str.replace(/themes\/\w*/, '******');
	 alert(str+"----"+kkk);
	</script>
  </head>
  
  <body>
    This is my HTML page. <br>
  </body>
</html>
