<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p : -----%m%n--[%-5c]"/>
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.charmyin.cmstudio">
		<level value="debug" />
	</logger>
	
	<!-- 3rdparty Loggers -->
		<!-- Spring framework -->
		
	<logger name="org.springframework">
		<level value="debug" />
	</logger>
	<!-- <logger name="org.springframework.core">
		<level value="error" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="error" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="error" />
	</logger>

	<logger name="org.springframework.web">
		<level value="error" />
	</logger> -->
	
	
		<!-- Mybatis debug -->
	<logger name="org.apache">
		<level value="error"/>
	</logger>
	<logger name="java.sql">
		<level value="debug"/>
	</logger>
	<logger name="com.ibatis">
		<level value="debug"/>
	</logger>
	<logger name="com.mybatis">
		<level value="debug"/>
	</logger>
	<!-- <logger name="java.sql.ResultSet">
		<level value="error"/>
	</logger>
	<logger name="java.sql.Connection">
		<level value="error"/>
	</logger>
	<logger name="java.sql.Statement">
		<level value="debug"/>
	</logger>
	<logger name="java.sql.PreparedStatement">
		<level value="debug"/>
	</logger> -->

	<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
