
html{
	margin: 0;
	padding: 0;
}


body{
	padding:3px 2px 0px 2px;
	margin:0;
	height:auto;
}

#divLoading_Main{
	position:absolute;
	z-index:1000;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#F4F4F4;
	text-align:center;
	padding-top: 25%;
}

#divLoading_Main span{
	background:url(../../img/common/loading.gif) no-repeat left center; padding-left: 20px;
}

#div_index_head{
	
	height:100%; 
	width:100%; 
	background:url(images/head.png) no-repeat ;
} 

#div_index_head_inner{
	 background-color: #E0ECFF;
  background: -webkit-linear-gradient(top,#F7F8FA 0,#D7D8DA 100%);
  background: -moz-linear-gradient(top,#F7F8FA 0,#D7D8DA 100%);
  background: -o-linear-gradient(top,#F7F8FA 0,#D7D8DA 100%);
  background: linear-gradient(to bottom,#F7F8FA 0,#D7D8DA 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F7F8FA,endColorstr=#D7D8DA ,GradientType=0);
} 

#modifyPassword{
	padding:15px 0 0 0;
}

#modifyPassword div label{
	margin:0 10px 0 14px;
	width:100px;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	text-align:right;
}